@CHARSET "ISO-8859-1";

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background: linear-gradient(#333, #7d0003); /* Standard syntax (must be last) */
}

li {
    float: left;
}

li a, .dropbtn, #comrade {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #7d0003;
}

li.dropdown {
    display: inline-block;
}

li:last-child
{
	float: right;
}

#comrade
{
	float:right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #7d0003}

.dropdown:hover .dropdown-content {
    display: block;
}

.droppedBtn
{
	/* position: relative;
	left: 30%; */
	min-width: 100px;
	background-color: #333;
	border: 0px;
	color: white;
}

/*##### FOR HOME.JSP #####*/
.rcorners1 {
    border-radius: 25px;
    border: 2px solid #7d0003;
    margin: 1.5% auto;
    padding: 1.5%; 
    width: 80%;
    height: 18%;
}

h1
{
	font-size: 3em;	
}

#btnSpan
{
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;	
}

.btn {
  background: #d93434;
  background-image: linear-gradient(to bottom, #d93434, #7d0003);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1.5px 3px #666666;
  -moz-box-shadow: 0px 1.5px 3px #666666;
  box-shadow: 0px 1.5px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  min-width: 200px;
}

.btn:hover {
  background: #fc3c3c;
  background-image: linear-gradient(to bottom, #fc3c3c, #7d0003);
  text-decoration: none;
}

/* ######  FOR HELP.JSP  ##### */
#faqsDiv
{
	width: 80%;
	height: 50%;
	margin: 20px auto;
	padding: 0px;
}

.reimbTypes
{
	list-style-type: auto;
}

.hidden { display: none; }

.unhidden 
{
	display: block; 
	padding: 0 20px;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

/* #####  FOR REGISTER.JSP  ##### */
#loginContainer
{
	width: 320px;
    /* padding: 10px;
    border: 5px solid gray; */
    margin: 0 auto; 
}

#buttSpan
{
	width: 320px;
    /* padding: 10px;
    border: 5px solid gray; */
    margin: 0 auto; 
}

.logButts
{
	background: #d93434;
	background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
	background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
	background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
	background-image: -o-linear-gradient(top, #d93434, #b82b2b);
	background-image: linear-gradient(to bottom, #d93434, #b82b2b);
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	-webkit-box-shadow: 0px 1.5px 3px #666666;
	-moz-box-shadow: 0px 1.5px 3px #666666;
	box-shadow: 0px 1.5px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	min-width: 110px;
}

.logButts:hover 
{
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
  text-decoration: none;
}

#logBackButton
{
	width: 320px;
    /* padding: 10px;
    border: 5px solid gray; */
    margin: 0 auto; 
	margin-top: 5px;
}

/* #logBtn
{
	size: 10px;
} */

/* REIMB PAGE */

#sideBar
{
    border-radius: 25px;
    border: 2px solid #333;
    border-top: 50px solid #333;
    margin: 20px left;
    margin-top: 5%;
    padding: 20px; 
    width: 200px;
    height: 22%;
}

#reimbNavTitle
{
	font-size: 2em;
	margin: 10px right;
/* 	color: white; */
}

#reimbColumns
{
    border-radius: 25px;
    border: 2px solid #333;
    margin: 20px auto;
    padding: 20px; 
    width: 80%;
    height: 50%;
    background-color: #e2e2e2;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
}

.th1, .td1, .tr1 {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
}

.tr1:hover{background-color:#f5f5f5}

.reimbListHidden
{
	colspan: 3;
	text-align: left;
	padding-left:2%;
	border: 2px solid #333;
}

.reimbListHidden:hover
{
	background-color: clear;
}

.th1 {
    border: 2px solid #333;
    background-color: black;
    color: white;
}

.reimbBottom
{
	margin-top: 25%;
}

/* .endCap1
{
    border-radius: 25px 0px 0px 0px;
    border: 2px solid #333;
}

.endCap2
{
    border-radius: 0px 25px 0px 0px;
    border: 2px solid #333;
} */

.btnSmall {
  background: #d93434;
  background-image: linear-gradient(to bottom, #d93434, #7d0003);
  border-radius: 25px;
  box-shadow: 0px 1.5px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  min-width: 150px;
}

.btnSmall:hover {
  background: #fc3c3c;
  background-image: linear-gradient(to bottom, #fc3c3c, #7d0003);
  text-decoration: none;
}

#reimbListBtns
{
	margin-left: 2%;
}

/* .btnTable
{
	background-color: white;
} */

/* ##### NEW REIMBS POP-UP ##### */
#creation
{
	margin-left: 35%;
}

.reimbRadios
{
	margin-left: 10%;
}

#proof
{
	margin-left: 7%;
}

.modal-title
{
	margin-left: 30%;
}

#btnCreate
{
	position: absolute;
	bottom: 23%;
	left: 10.5%;
}

#sub
{
	margin-left: -1.5%;
}

/* .inBoxes
{
	margin-left: 20%
} */

.line1
{
	margin-top: 1.5%;
	padding-top: 1.5%;
}

#logoutButt
{
	border: 0px;
	background-color: rgba(255,0,0,0.0);
	padding-top: 27%;
	color: white;
}

#reimbPad
{
	padding-top: 1.5%;
}

#reimbListHead
{
	padding-top: -1.5%;
}

